<h1>Login</h1>

<%= form_for :user do |f| %>
	<%= f.text_field :email, placeholder: "Enter Email" %>
	<%= f.password_field :password, placeholder: "Enter Password" %>
	<%= f.submit "Login" %>
<% end %>